{
  "presets": [
    "next/babel",
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript",
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": ".",
          "@page": "./pages",
          "@image": "./public/images",
          "@atom": "./components/atoms",
          "@molecule": "./components/molecules",
          "@organism": "./components/organisms",
          "@template": "./components/templates",
          "@store": "./stores",
          "@util": "./utils",
          "@const": "./consts"
        }
      }
    ]
  ]
}
