@import '../consts/css/fonts.css';
@import '../consts/css/variables.css';
@import '../consts/css/default.css';

/* 
 * =====================
 *     GLOBAL STYLE
 * =====================
 */

html,
body,
#__next {
  width: 100%;
  max-width: 1920px;
  padding: 0;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Thin', 'ExtraLight', 'Light', 'Regular', 'Medium', 'SemiBold', 'Bold', 'ExtraBold', 'Heavy';
  background-color: var(--color-gray-0);
  color: var(--color-gray-9);

  /* Disabled Draggable */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#__next > * {
  margin: 0 auto;
}
 
div, span, applet, object, iframe,
blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  font-size: 16px;
  font-family: 'Regular';
  color: var(--color-gray-9);
  /* scroll bar invisible */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* scroll bar invisible */
*::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

*, *::before, *::after {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Regular';
  color: var(--color-gray-9);
}

a { 
  text-decoration: none;
  /* color: var(--color-white-normal); */
}

ul, li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

button, a, input[type=button], input[type=submit] {
  cursor: pointer;
}

label {
  user-select: none;
}

button:focus, select:focus, select:active, button:active, input:active, input:focus {
  outline: none !important;
}

input {
  background-color: var(--color-white);
}